@import url(https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;800;900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Space+Mono:wght@100;200;300;400;500;600;700&display=swap);

/* body {
  font-family: 'Space Mono', monospace;
} */
body {
  font-family: 'Work Sans', sans-serif;
}



.Market_place{
    width: 100%;
    height: auto;
    background-color: #2B2B2B;
    padding: 60px 0px;
}
.Market_place_container{
    width: 85%;
    margin: 0 auto;
    height: auto;
    row-gap: 15px;
    display: grid;
    align-content: space-between;
}
.form_market_place{
    width: 100%;
    height: 60px;
    border: 1px solid #3B3B3B;
    border-radius: 20px;
    padding: 0px 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.form_market_place input{
    width: 95%;
    height: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    color: white;
} 
::placeholder{
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    color: #858584;
    font-family: 'Work Sans', sans-serif;
}
.form_market_place i{
    font-size: 24px;
    color: white;
    text-align: center;
}
.form_market_place i:hover{
    cursor: pointer;
}






.Line_part{
    width: 85%;
    margin: 0 auto;
    height: 70px;
    margin-top: 65px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    border-top: 1px solid #3b3b3bb5;
    padding-right: 100px;
    padding-left: 100px;
}
.Line_part_box{
    width: 50%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 15px;
    transition: .2s ease-in-out
}


.div302{
    width: 50px;
    height: 32px;
    border-radius: 20px;
    background-color: #3B3B3B;
    padding: 5px 10px;
    color: white;
    font-family: 'Space Mono', monospace;
    font-size: 16px;
    line-height: 22.4px;
    font-weight: 400;
}
.owned{
    font-family: 'Work Sans', sans-serif;
    color: #858584;
    font-size: 22px;
    line-height: 30.8px;
    font-weight: 600; 
}
.div67{
    width: 40px;
    height: 32px;
    border-radius: 20px;
    background-color: #3B3B3B;
    padding: 5px 10px;
    color: white;
    font-family: 'Space Mono', monospace;
    font-size: 16px;
    line-height: 22.4px;
    font-weight: 400;
}

.div_4{
    width: 30px;
    height: 32px;
    border-radius: 20px;
    background-color: #3B3B3B;
    padding: 5px 10px;
    color: white;
    font-family: 'Space Mono', monospace;
    font-size: 16px;
    line-height: 22.4px;
    font-weight: 400;
}
.Line_part_box:hover{
    border-bottom: 2px solid #858584;
}
.Line_part_box span{
    transition: .2s ease-in-out;
}
.Line_part_box div{
    transition: .2s ease-in-out;
}
.Line_part_box:hover span{
    color: white;
}
.Line_part_box:hover div{
    background-color: #858584;
}
.Market_place_card{
    width: 100%;
    height: auto;
    background-color: #3B3B3B;
    padding: 0px;
}
.Market_place_card_part{
    width: 85%;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 70px 0px;
    row-gap: 50px;
}

.scn5_card{
    width: 330px;
    height: 469px;
    background-color: #2B2B2B;
    border-radius: 20px;
}

.section9{
    width: 100%;
    height: auto;
    background-color: #3B3B3B;
    border-top: 2px solid #2B2B2B;
    padding: 50px 0px;
}


@media screen and (max-width: 576px){

    .Line_part{
        width: 85%;
        margin: 0 auto;
        height: 70px;
        margin-top: 65px;
        display: flex;
        justify-content: space-between;
        align-items: end;
        border-top: 1px solid #3b3b3bb5;
        padding-right: 0px;
        padding-left: 0px;
    }
    .Line_part_box{
        width: 50%;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 15px;
        transition: .2s ease-in-out
    }
    
    
    .div302{
        display: none;
    }
    .owned{
        font-family: 'Work Sans', sans-serif;
        color: #858584;
        font-size: 16px;
        line-height: 22.4px;
        font-weight: 600; 
    }
    .div67{
        display: none;
      
    }

    .form_market_place{
        width: 100%;
        height: 60px;
        border: 1px solid #3B3B3B;
        border-radius: 20px;
        padding: 0px 12px;
        margin-top: 0px;
    }
    .form_market_place input{
        width: 95%;
        height: 100%;
        border: none;
        outline: none;
        background-color: transparent;
        color: white;
    } 



/* .Market_place_card_part{
    width: 85%;
    height: auto;
    margin: 0 auto;
    display: grid;
    justify-content: space-between;
    row-gap: 50px;
    grid-template-columns: repeat(1, 315px);
    grid-template-rows: repeat(4, 402px);
    padding: 80px 0px;
} */

    .scn5_card{
        width: 100%;
        height: 402px;
        background-color: #2B2B2B;
        border-radius: 20px;
    }

    .non_mobile{
        display: none;
    }
    .non_tablet{
        display: none;
    }
}


@media screen and (min-width: 576px){

    .Line_part{
        width: 85%;
        margin: 0 auto;
        height: 70px;
        margin-top: 65px;
        display: flex;
        justify-content: space-between;
        align-items: end;
        border-top: 1px solid #3b3b3bb5;
        padding-right: 0px;
        padding-left: 0px;
    }
    .Line_part_box{
        width: 50%;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 15px;
        transition: .2s ease-in-out
    }
    .div302{
        display: none;
    }
    .owned{
        font-family: 'Work Sans', sans-serif;
        color: #858584;
        font-size: 16px;
        line-height: 30.8px;
        font-weight: 600; 
    }
    .div67{
        display: none;
    }
    

    .form_market_place{
        width: 100%;
        height: 60px;
        border: 1px solid #3B3B3B;
        border-radius: 20px;
        padding: 0px 12px;
        margin-top: 0px;
    }
    .form_market_place input{
        width: 95%;
        height: 100%;
        border: none;
        outline: none;
        background-color: transparent;
        color: white;
    } 



/* .Market_place_card_part{
    width: 85%;
    height: auto;
    margin: 0 auto;
    display: grid;
    justify-content: space-between;
    row-gap: 50px;
    grid-template-columns: repeat(1, 315px);
    grid-template-rows: repeat(4, 402px);
    padding: 80px 0px;
} */

    .scn5_card{
        width: 100%;
        height: 402px;
        background-color: #2B2B2B;
        border-radius: 20px;
    }

    .non_mobile{
        display: none;
    }
    .non_tablet{
        display: none;
    }

}


@media screen and (min-width: 768px){

    .Line_part{
        width: 85%;
        margin: 0 auto;
        height: 70px;
        margin-top: 65px;
        display: flex;
        justify-content: space-between;
        align-items: end;
        border-top: 1px solid #3b3b3bb5;
        padding-right: 0px;
        padding-left: 0px;
    }
    .Line_part_box{
        width: 50%;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 15px;
        transition: .2s ease-in-out
    }
    
    
    .div302{
        display: flex;
    }
    .owned{
        font-family: 'Work Sans', sans-serif;
        color: #858584;
        font-size: 22px;
        line-height: 30.8px;
        font-weight: 600; 
    }
    .div67{
        display: flex;
    }
    

    .form_market_place{
        width: 100%;
        height: 60px;
        border: 1px solid #3B3B3B;
        border-radius: 20px;
        padding: 0px 12px;
        margin-top: 0px;
    }
    .form_market_place input{
        width: 95%;
        height: 100%;
        border: none;
        outline: none;
        background-color: transparent;
        color: white;
    } 



/* .Market_place_card_part{
    width: 85%;
    height: auto;
    margin: 0 auto;
    display: grid;
    justify-content: space-between;
    row-gap: 50px;
    grid-template-columns: repeat(2, 325px);
    grid-template-rows: repeat(4, 469px);
    padding: 80px 0px;
} */

.scn5_card{
    width: 325px;
    height: 469px;
    background-color: #2B2B2B;
    border-radius: 20px;
}
.non_mobile{
    display: flex;
}
.non_tablet{
    display: none;
}

}



@media screen and (min-width: 1200px){

    .Line_part{
        width: 85%;
        margin: 0 auto;
        height: 70px;
        margin-top: 65px;
        display: flex;
        justify-content: space-between;
        align-items: end;
        border-top: 1px solid #3b3b3bb5;
        padding-right: 0px;
        padding-left: 0px;
    }
    .Line_part_box{
        width: 50%;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 15px;
        transition: .2s ease-in-out
    }
    
    
    .div302{
        display: flex;
    }
    .owned{
        font-family: 'Work Sans', sans-serif;
        color: #858584;
        font-size: 22px;
        line-height: 30.8px;
        font-weight: 600; 
    }
    .div67{
        display: flex;
    }
    

    .form_market_place{
        width: 100%;
        height: 60px;
        border: 1px solid #3B3B3B;
        border-radius: 20px;
        padding: 0px 12px;
        margin-top: 0px;
    }
    .form_market_place input{
        width: 95%;
        height: 100%;
        border: none;
        outline: none;
        background-color: transparent;
        color: white;
    } 



/* .Market_place_card_part{
    width: 85%;
    height: auto;
    margin: 0 auto;
    display: grid;
    justify-content: space-between;
    row-gap: 50px;
    grid-template-columns: repeat(2, 325px);
    grid-template-rows: repeat(4, 469px);
    padding: 80px 0px;
} */

.scn5_card{
    width: 330px;
    height: 469px;
    background-color: #2B2B2B;
    border-radius: 20px;
}
.non_mobile{
    display: flex;
}
.non_tablet{
    display: flex;
}

}